/**
 * Copyright (c) Facebook, Inc. and its affiliates.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 */

.toggle {
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.toggleScreenReader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.toggleDisabled {
  cursor: not-allowed;
}

.toggleButton {
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.toggleButton:hover {
  background-color: #00000010;
}

[data-theme='dark'] .toggleButton:hover {
  background-color: #ffffff20;
}

[data-theme='light'] .darkToggleIcon,
[data-theme='dark'] .lightToggleIcon {
  display: none;
}
