/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/* .heroBanner {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
} */
.heroBannerDark {
  background-color: #424242;
}
.heroBannerLight {
  background-color: #e9e9e9;
}

.container {
  max-width: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.downloadContainer {
  display: flex;
  justify-content: flex-end;
}

.logo {
  margin-top: 4rem;
  width: 100px;
}
.flexButton {
display: flex; 
justify-content: space-around;
}


.downloadLink {
    text-align: center;
    margin: auto;

}

.list {
width:100%;
}

.downloadIcon {
  width: 1rem;
  margin: auto;
  margin-left: 0.5rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.absoluteContainer {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.waveContainer {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.waveLight {
  display: block;
  position: relative;
  height: 40px;
  background-color: #e9e9e9;
}

.waveLight:before {
  content: '';
  background-color: rgb(255, 255, 255);
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  right: -25%;
  top: 20px;
}

.waveLight:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  left: -25%;
  top: -240px;
  background-color: #e9e9e9;
}

.waveDark {
  display: block;
  position: relative;
  height: 40px;
  background-color: #424242;
}

.waveDark:before {
  content: '';
  background-color: var(--ifm-background-color);
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  right: -25%;
  top: 20px;
}

.waveDark:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  left: -25%;
  top: -240px;
  background-color: #424242;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: none;
  }
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
